<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-productAdd.css">


        <title>Kairos Add Products</title>
</head>


<body>
    <%- include("../partials/header") %>

    <form action="/products/<%= product.id %>?_method=put" method="POST">
        <div class="form-body">

            <div class="text-form">
                <p class="text">¿Querés editar un producto?</p>
                <p class="text-medium">Vas a modificar el artículo: <i>
                    <%= product.name %>
                </i></p>
            </div>

            <div class="form-register">
                <label for="name">Modelo</label>
                <input type="text" name="name" id="name" placeholder="Modelo Reloj" value="<%= product.name %>">
            </div>

            <select name="marca" class="form-register">
                <% const brands = ["Garmin","Colmi","Suunto","Rolex","Tag Heuer","Omega","Casio","Seiko","Tissot","Imilab"]; %>
                <option value="<%= product.brand %>"><%= product.brand %></option>
                <% brands.forEach(brand => { %>
                  <option value="<%= brand %>"><%= brand %></option>
                <% }); %>
              </select>

              <select name="category" class="form-register">
                <% const categories = ["Clasico", "Deportivo", "Moda Alta Gama", "Deporte Profesional"]; %>
                <option value="<%= product.category %>"><%= product.category %></option>
                <% categories.forEach(category => { %>
                  <option value="<%= category %>"><%= category %></option>
                <% }); %>
              </select>

            <div class="form-register">
                <label for="description">Descripción</label>
                <input type="text" name="description" id="description" placeholder="Descripcion"
                    value="<%= product.description %>">
            </div>

            <div class="form-register">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" placeholder="Precio" value="<%= product.price %>">
            </div>

            <button type="submit">Modificar</button>
        </div>
    </form>

    <%- include("../partials/footer") %>

</body>
</html>