<!doctype html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles-productAdd.css" />
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/productsAddValidation.js" defer></script>
  

    <title>Kairos Add Products</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <form action="/products" method="post" enctype="multipart/form-data" id="form">
      <div class="form-body">
        <div class="text-form">
          <p class="text">¡Cargá un nuevo producto!</p>
          <p class="text-medium">Por favor completá los datos:</p>
        </div>

        <div class="form-register">
          <label>Modelo</label>
          <input
            type="text"
            name="name"
            id="name"
            value="<%= locals.errors ? oldData.name : null %>"
          />
          <span class="errorMsg" id="nameError"></span>
          <% if (locals.errors && errors.name) { %>
          <div class="text-danger"><%= errors.name.msg %></div>
          <% } %>
        </div>

        <div class="form-register">
          <label>Precio</label>
          <input
            type="text"
            name="price"
            id="price"
            value="<%= locals.errors ? oldData.price : null %>"
          />
          <span class="errorMsg" id="priceError"></span>
          <% if (locals.errors && errors.price) { %>
          <div class="text-danger"><%= errors.price.msg %></div>
          <% } %>
        </div>

        <div class="form-register">
          <label>Marca</label>
          <select name="brand" id="brand">
            <option value="">Selecciona una marca</option>

            <% brand.forEach(brand => { %>
            <option value="<%= brand.id %>" 
              <%= locals.errors && (oldData.brand == brand.id) ? 'selected' : '' %>>
              <%= brand.name %>
            </option>
            <% }) %>
          </select>
          <span class="errorMsg" id="brandError"></span>

          <% if (locals.errors && errors.brand) { %>
          <div class="text-danger"><%= errors.brand.msg %></div>
          <% } %>
        </div>

        <div class="form-register">
          <label>Categoria</label>
          <select name="category" id="category">
            <option value="">Selecciona una Categoria</option>
            <!-- Opción vacía o predeterminada -->
            <% category.forEach(category => { %>
            <option value="<%= category.id %>" 
              <%= locals.errors && (oldData.category == category.id) ? 'selected' : '' %>>
              <%= category.name %>
            </option>
            <% }); %>
          </select>
          <span class="errorMsg" id="categoryError"></span>

          <% if (locals.errors && errors.category) { %>
          <div class="text-danger"><%= errors.category.msg %></div>
          <% } %>
        </div>

        <div class="form-register">
          <label>Descripción</label>
          <input
            type="text"
            name="description"
            id="description"
            value="<%= locals.errors ? oldData.description : null %>"
          />
          <span class="errorMsg" id="descriptionError"></span>
          <% if (locals.errors && errors.description) { %>
          <div class="text-danger"><%= errors.description.msg %></div>
          <% } %>
        </div>

        <div class="form-register">
          <label for="image">Imagen Producto:</label>
          <input type="file" name="image" id="image" />
          <span class="errorMsg" id="imageError"></span>
          
          <% if (locals.errors && errors.image) { %>
          <div class="text-danger"><%= errors.image.msg %></div>
          <% } %>
        </div>
        <div class="form-register">
          <button type="submit">Guardar</button>
        </div>
      </div>
    </form>

    <%- include("../partials/footer") %>
  </body>
</html>
