<!doctype html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles-productDetail.css" />

    <title>Kairos</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <main>
      <section class="productDetail">
        <article class="productDetail-d">
          <img class="productPhoto" src="/images/products/<%= product.image %>" alt="Image" />
          <div class="productText">
            <h1 class="productName">
              <h1>Marca: <%= product.brand.name %></h1>
              <h4>Modelo: <%= product.name %></h4>
              <h4>Categoria: <%= product.category.name %></h4>
            </h1>
            <h1 class="productPrice">$ <%= product.price %></h1>

            <a href="/products/cart" class="buttonBuy">LO QUIERO!</a>

            <% if (locals.isLogged && userLogged.id_rol === '1') { %>
            <div class="buttonsProduct">
              <a href="/products/edit/<%= product.id %>" class="submit-button">Editar</a>
              <a href="/products/add/" class="submit-button">Agregar</a>
              <form action="/products/<%= product.id %>?_method=delete" method="POST">
                <button type="submit" class="submit-button">Eliminar</button>
              </form>
            </div>
            <% } %>
          </div>
        </article>

        <article class="productDescription-d">
          <div class="description">
            <h4>Descripción</h4>
            <p class="textDescription"><%= product.description %></p>
          </div>
        </article>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
