<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoy mirando al SQL DATABASE</title>
  </head>
  <body>
    <h3>Mirando la base SQL Kairos_DB</h3>
    <h4>Todos los usuarios</h4>
    <div>
      <ul>
        <% for (let i = 0; i < users.length; i++) { %>
        <li>
          <h4>Leyendo Datos Usuarios</h4>
          <div><%= users[i].first_name %></div>
          <div><%= users[i].last_name %></div>
          <div><%= users[i].email %></div>
          <div><%= users[i].birth_date %></div>
          <div><%= users[i].password %></div>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
