<main>
    <section class="productDetail">
        <article class="productDetail-d">
            <img class="productPhoto" src="/images/<%= product.image %>" alt="imagen de producto <%= product.name %>" />
            <div class="productText">
                <img class="productLogo" src="/images/<%= product.logo %>" alt="Logo Garmin" />
                <h6 class="productNumber">
                    <%= product.sku %>
                </h6>
                <h1 class="productName">
                    <%= product.name %>
                </h1>
                <h1 class="productPrice">
                    <%= product.price %>
                </h1>
                <h5 class="productPricePay">
                    <%= product.promotion %>
                </h5>
                <h5 class="productPriceOff">
                    <%= product.discount %>
                </h5>
                <button class="buttonBuy">LO QUIERO</button>
            </div>
        </article>
        <article class="productDescription-d">
            <div class="description">
                <h4>Descripción</h4>
                <p class="textDescription">
                    <%= product.description %>
                </p>
            </div>
            <div class="specifications">
                <h4>
                    <%= product.specs %>
                </h4>
                <p class="textDescription">Cuadro</p>
            </div>
        </article>
    </section>
</main>