<article>



  <a href="/products/<%= product.id %>"><img src="/images/products/<%= product.image %>"></a>

  <div>

    <p class="nombre-producto">
      <%= product.name %>
    </p>
    <p class="descripcion-producto">
      <%= product.description %>
    </p>
    <p class="precio-producto">$ <%= product.price %>
    </p>

  </div>

</article>