<article>



    <a href="/users/<%= users.id %>"><img src="/images/user/<%= users.avatar %>"></a>

    <div>

        <p class="nombre-producto">
            <%= users.first_name %>
                <%= users.last_name%>
        </p>
        <p class="descripcion-producto">
            <%= users.email %>
        </p>


    </div>

</article>