<!doctype html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles-profile.css" />

    <title>Kairos Perfil</title>
  </head>

  <%- include("../partials/header") %>

  <body>
    <main>
      <section class="userDetail userDetail-d">
          <div class="userPhoto">
            <img src="/images/users/<%= user.avatar %>" width="150" alt="avatar" />
          </div>

          <div class="userText">
            <div  class="userName">
            <p>Hola, <%= user.first_name %>!</p>
            <label>Nombre</label>
            <input type="text" name="first_name" id="first_name" placeholder="<%= user.first_name %>" />

            <label>Apellido</label>
            <input type="text" name="last_name" id="last_name" placeholder="<%= user.last_name %>" />

            <label>Email</label>
            <input type="text" name="email" id="email" placeholder="<%= user.email %>" />
          

            <div class="buttonBuy-d">
              <a href="/users/edit/<%= user.id %>" class="buttonBuy margin-top-30 margin-b-desktop">Editar Usuario</a>
              <a href="/users/logout/" class="buttonBuy margin-bottom-30">Cerrar sesión</a>
            </div>
          </div>
          </div>
          
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
