<!doctype html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles-usersDetail.css" />

    <title>Kairos Perfil</title>
  </head>

  <%- include("../partials/header") %>

  <body>
    <main>
      <section class="userDetail">
        <article class="userDetail-d">
          <img class="userPhoto" src="/images/users/<%= user.avatar %>" width="150" alt="avatar" />

          <div class="userText">
            <p class="userName">Hola, <%= user.first_name %>!</p>

            <label>Nombre</label>
            <input type="text" name="first_name" id="first_name" placeholder="<%= user.first_name %>" />

            <label>Apellido</label>
            <input type="text" name="last_name" id="last_name" placeholder="<%= user.last_name %>" />

            <label>Email</label>
            <input type="text" name="email" id="email" placeholder="<%= user.email %>" />

            <a href="/users/edit/<%= user.id %>" class="buttonBuy">Editar Usuario</a>

            <a href="/users/logout/" class="buttonBuy">Cerrar sesión</a>
          </div>
        </article>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
