<!doctype html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles-usersDetail.css" />

    <title>Kairos Detalle de Usuario</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <section class="userDetail userDetail-d">
      <div class="userPhoto">
        <img src="/images/users/<%= users.avatar %>" alt="" />
      </div>

      <div class="userText">
        <div class="userName">
          <p>Hola, <%= users.first_name %> <%= users.last_name %>!</p>

          <div class="buttons-userEdit">
            <a href="/users/edit/<%= users.id %>" class="buttonBuy buttonBuy-d">Editar Usuario/a</a>
            <a href="/users/register/" class="buttonBuy buttonBuy-d">Agregar Usuario/a</a>
            <a href="/users/logout/" class="buttonBuy buttonBuy-d">Cerrar sesión</a>
            <form action="/users/<%= users.id %>?_method=delete" method="POST">
              <button type="submit" class="buttonBuy buttonBuy-d">Eliminar Usuario/a</button>
            </form>
          </div>
          
        </div>
      </div>
    </section>

    <%- include("../partials/footer") %>
  </body>
</html>
