<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-login.css">


        <title>Login</title>
</head>

<%- include("../partials/header") %>

<body>
    <form action="/users/login" method="post">
        <div class="form-body">
            <div>
            <p class="text">¡Bienvenido/a!</p>
            <p class="text-medium">Por favor ingresá con tus datos:</p>
            </div>
            <div class="form-login">
                <i class="fa-solid fa-user"></i>
                <input type="email" name="email" id="email" placeholder="Usuario/a"
                    value="<%= locals.errors ? oldData.email : null %>" />

                <% if (locals.errors && errors.email) { %>
                    

            </div>

            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
            <% } %>

            
            <div class="form-login">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <% if (locals.errors && errors.password) { %>
            </div>
            
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
            <% } %>

            <div class="form-login">
                <div class="remember-user">
                    <input type="checkbox" class="" name="remember_user">
                    <label for="remember_user" class="text-remember-user">Recordar Usuario/a</label>
                </div>
            </div>
            <button>Ingresar</button>
            <div>
                <p><a href="#" class="link">Olvidaste tu contraseña?</a></p>
                <p><a href="/users/register/" class="link">No tenes usuario/a? Registrate</a></p>
            </div>
            
    </form>
</body>

</html>