<!doctype html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-usersDetail.css" />

        <title>Kairos Perfil</title>
</head>

<%- include("../partials/header") %>

    <body>
        <main>
            <section class="productDetail">
                <article class="productDetail-d">
                    <h3>Hola <%= user.first_name %>
                    </h3>
                    <img class="productPhoto" src="/images/users/<%= user.avatar %>" width="10%" alt="avatar" />
                    <div class="productText">


                        <h1 class="productName">
                            <%= user.first_name %>
                                <%= user.last_name %>
                        </h1>

                        <p class="productName">
                            <%= user.email %>
                        </p>

                        <p class="productName">
                            <%= user.birth_date %>
                        </p>

                    </div>

                </article>


            </section>
        </main>

        <%- include("../partials/footer") %>
    </body>

</html>