<html lang="es">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-register.css" />

        <title>Kairos Registro</title>
</head>

<body>
    <form action="/users/<%= user.id %>?_method=put" method="post">
        <div class="form-body">
            <img src="/images/logo/kairos-logo-un-color-azul.png" alt="kairos-logo-un-color-azul" />
            <p class="text">Edicion de Usuario</p>

            <div class="form-register">
                <input type="text" name="first_name" id="first_name" placeholder="Nombre"
                    value="<%= user.first_name %>" />
            </div>
            <div class="form-register">
                <input type="text" name="last_name" id="last_name" placeholder="Apellido"
                    value="<%= user.last_name %>" />
            </div>
            <div class="form-register">
                <input type="email" name="email" id="email" placeholder="Email" value="<%=user.email%>" />
            </div>

            <div class="form-register">
                <label for="gender">Género</label>
                <select name="gender" id="gender">
                    <option name="gender" value="male" id="gender">Masculino</option>
                    <option name="gender" value="female" id="gender">Femenino</option>
                </select>
            </div>

            <div class="form-register">
                <label for="birth_date">Fecha de Nacimiento</label>
                <input type="date" name="birth_date" id="birth_date" />
            </div>
            <div class="form-register">
                <input type="password" name="password" id="password" placeholder="Contraseña"
                    value="<%= user.password %>" />
            </div>

            <button type="submit">EDITAR</button>
        </div>
    </form>
</body>

</html>